@{
    ViewData["Title"] = "Home Page";
    var locations = ViewBag.Locations;
}

<form action="~/journey/Index">
    <div class="my-2 card">
        <div class="card-body">
            <h5 class="card-title">Konumlar</h5>
            <div class="row">
                <div class="col-sm">
                    <div class="mb-4">
                        <label id="origin-label" for="origin-input" class="form-label">Nereden</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi-pin-map"></i>
                            </span>
                            @Html.DropDownList("origin", (SelectList)locations, new { @id = "origin", @class = "form-control form-select" })
                            <button class="btn btn-outline-secondary" type="button" onclick="swapLocation()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5m14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="mb-4">
                        <label id="destination-label"
                               for="destination-input"
                               class="form-label">Nereye</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi-pin-map-fill"></i>
                            </span>
                            @Html.DropDownList("destination", (SelectList)locations, new { @id = "destination", @class = "form-control form-select" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-2 col">
            <div class="h-100 card">
                <div class="card-body">
                    <h5 class="card-title">Tarihler</h5>

                    <div id="departure-date" class="mb-2">
                        <label id="departure-date-label"
                               for="departureDate"
                               class="form-label">Tarih</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi-calendar"></i>
                            </span>
                            <input runat="server" type="datetime-local"
                                   class="form-control"
                                   id="departureDate" name="departureDate"
                                   aria-describedby="departure-date-label" />
                            <button class="btn btn-outline-secondary" type="button" onclick="setToToday()">Bugün</button>
                            <button class="btn btn-outline-secondary" type="button" onclick="setToTomorrow()">Yarın</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button type="submit" id="search-button" class="w-100 btn btn-primary">Bileti Bul</button>
    <div class="border-bottom mb-4 pt-4" id="search-results-separator"></div>

</form>